html, *::before, *::after {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
}

.hero-section {
  height: 90vh;
}

.separator {
  height: 10vh;
  background: #100427;
}

.separator .arrow-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.separator .arrow-right, .separator .arrow-left {
  display: inline-block;
  height: 10px;
  width: 100px;
  background: #aca7b4;
  border-radius: 5px;
}

.separator .arrow-right {
  transform: rotate(-20deg);
  margin-left: -15px;
}

.separator .arrow-left {
  transform: rotate(20deg);
}

#slideshow-wrapper-no-effect, #slideshow-wrapper-slide {
  white-space: nowrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-height: 100%;
}

.slider-content {
  font-size: 10vw;
  color: #fff;
  background: #00000078;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  height: fit-content;
}
